.header {
    height: 56px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: var(--body_background);

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 20px;

        .header-logo {
            color: #1677ff;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
        }

        .search-container {
            width: 400px;
            margin-bottom: 23px;
        }

        .header-menu {
            display: flex;
            align-items: center;

            .dark-mode-container {
                margin-right: 8px;
            }
        }

        .header-avatar {
            cursor: pointer;
        }

        .header-notify {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 6px;
        }

        .header-icon {
            font-size: 16px;
        }
        .btn-logout {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                color: red;
            }
        }
    }
}

.sub-content-profile {
    .view-profile {
        cursor: pointer;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 8px;
        color: #000;
        &:hover {
            color: #1677ff;
        }
    }
    .btn-logout {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin: 10px 0;
        &:hover {
            color: red;
        }
    }
}
