.chat-container {
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body_background);

    .chatHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: var(--body_color);
        border-bottom: 1px solid #ccc;
        height: 60px;
    }

    .chatInfo {
        display: flex;
        margin-left: 8px;
        align-items: center;

        .chatName {
            margin-left: 6px;
        }

        .chatInfoWrap {
            display: flex;
            flex-direction: column;
            margin-left: 6px;
        }

        .chatName {
            font-size: 18px;
            font-weight: bold;
        }

        .chatAvatar {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 1px solid transparent;
            // object-fit: cover;
        }
    }

    .chatIcons {
        display: flex;
        gap: 12px;
        cursor: pointer;
        margin-right: 12px;

        .chatIcon {
            font-size: 18px;
        }
    }
}
