.right {
    background-color: #fff;
}

.friend-title {
    margin-left: 10px;
}

.friend-list {
    list-style: none;
    padding-left: 0;
}

.friend-item {
    padding: 6px 6px 6px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #000;

    &:hover {
        background-color: #fafafa;
    }

    &:hover .friend-btn-unfl {
        display: block;
    }
}

.friend-name {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
}

.friend-btn-unfl {
    background-color: #f5222d;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #fff;
    display: none;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}
